{% extends 'base.html.twig' %}

{% set index = offset + 1 %}

{% block title %}Pokedex - Pokemon's list{% endblock %}

{% block body %}
    <h1>Pokedex - Pokemon's list</h1>

    <div id="pokemonslist">
        {% for key,pokemon in pokemons %}
            <a href="{{ path('details',{'pokemonId' : index}) }}">
                <div class="pokemonCard">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/{{ index }}.png"
                         alt="" style="width:100%">
                        <h4><b>{{ index }} {{ pokemon.name|capitalize }}</b></h4>
                </div>
            </a>
            {% set index = index +1 %}
        {% endfor %}
    </div>

{% endblock %}
